*{
    margin: 0;
    padding: 0;
}

body{
    background: #E9ECF4;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    /* son espacios entre cada caja */
    grid-gap: 20px;
    /* establecemos columnas */
    grid-template-columns: repeat(3, 1fr);
    /* establecemos filas */
    grid-template-rows: repeat(4, auto);

}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    background: #12203E;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedor .contenido{
    grid-column: span 2;
}

.contenedor .sidebar{
    /* [de donde] / [a donde] */
    grid-column: 3 / 4;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* podemos usar el 2 / 4 o el span para evitar calcular de donde a donde va */
    grid-row: span 2;
    /* tamaño minimo */
    min-height: 100px;
}


.contenedor .widget-1,
.contenedor .widget-2{
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .footer{
    background: #12203E;
    color: #fff;
    grid-column: span 3;
}

/* media query */

@media screen and (max-width: 768px){
    .contenedor .contenido{
        grid-column: 1/-1;
    }
    .contenedor .sidebar{
        grid-column: 1/-1;
    }

    .contenedor .widget-1{
        grid-column: span 2;
    }
}