*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

div{
    /* width: 200px;
    height: 200px; */
    display: block;
    /* position: absolute;  */
    background: yellow;
}

.caja-fix{
    background: #21b3ac;
    position: fixed;    
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text{
    margin-block-start: 1em;
}

.contenedor div{
    height: 100px;
    width: 100px;
}

.contenedor{
    margin: 100px;
    position: absolute;
    position:relative;    
    border: 4px solid red;
    margin: 50px auto;
    height: 450px;
    width: 450px;
}

/*
Position : va afectar el flujo de HTML, adquiere 5 propiedades nuevas, excepto static
    - static : no position
    - relative :  se conserva el espacio del contenido
    - absolute : no se conserva el espacio que ocupo el contenido,ademas que se ajusta el tamaño de la caja al contenido
    - fixed: es igual que absolute, pero este queda fijado
    - sticky: conserva el contenido, se comporta como un relative en un principio y despues como fixed

Propriedades: 
    las propiredades principales son top y lef, quieres decir que se le dara mas relevancia a estas de las demas 
    - lef
    - top
    .bottom
    .rigth
    .z-index : ordena los objetos por medio del numero q le asignemos
*/

.caja-1{
    background: #7e2cd0;
    right: 0;
    bottom: 0;
}
.caja-2{
    background: #73d02c;
    right: 0;
    /* position: relative; */
    /* arriba */
    /* top: 20px;  */
    /* izquierda */
    /* left: 50px; */
    /* derecha */
    /* right: ; */
    /* abajo */
    /* bottom: ; */
    
}

.caja-3{
    background: #2cd0cd;
    top: 0;
}

.caja-4{
    background: #d0682c;
    bottom: 0;
}

.caja-5{
    background: #21b321;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}